@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
}

body {
  @apply bg-romantic-50 text-gray-800;
  overflow-x: hidden;
}
